body {
    display: grid;
    justify-content: center;
    height: 100vh;
    margin: 0;
    grid-template-rows: auto auto;
}



.form-container {
    display: grid;
    align-content: center;
    justify-content: center;
}

#weather-info {
display: grid;
align-self: start;
justify-content: center;
justify-items: center;

}

